body {
  background-color: pink;
  font-size: 16px;
  display: flex;
  align-content: center;
  justify-content: center;
}

p {
  font-size: 2rem;
}

section {
  margin: auto 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title-div {
  border: 1px solid rgb(165, 155, 155);
}

li {
  margin: 0;
  list-style: none;
  background-color: transparent;
  font-size: 1.5rem;
  border-top: 1px solid rgb(55, 51, 51);
}

label {
  margin-left: 0.5em;
}

.title-div {
  display: flex;
  width: 500px;
  padding: 0 30px;
  align-items: center;
  background-color: aqua;
}

.containerTodo {
  background-color: transparent;
  /* flex-direction: column; */
  padding-top: 30px;
  gap: 10px;
  width: 100%;
}

ul input {
  height: 40px;
  width: 40px;
}

.inputElement {
  width: 90%;
}

.containerTodo input {
  font-size: 1.5rem;
  font-style: italic;
  margin: 5px 10px 5px 30px;
  border: none;
}

ul {
  padding: 10px 0;
  position: relative;
}

.single-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 105px 20px 30px;
}

.li-div {
  display: flex;
  align-items: center;
}

i {
  color: rgb(101, 93, 93);
}

i:hover {
  color: rgb(197, 148, 88);
}

.single-list i {
  position: relative;
  right: 20px;
}

img {
  background-color: black;
}

.editing {
  background-color: #fffedd;
}

.itemElement {
  display: flex;
  gap: 500px;
  padding: 10px 0;
}

.iconContainer {
  display: flex;
  align-items: center;
  padding: 0;
  width: min-content;
  cursor: pointer;
  position: absolute;
  right: 30px;
}
.checkboxContainer {
  display: flex;
}

.textInput {
  font-family: 'Times New Roman', Times, serif;
  color: #444;
  display: block;
  border: none !important;
  outline: none;
  justify-self: baseline;
  background: transparent;
  box-shadow: none;
  overflow: auto;
  font-size: 1.1rem;
  font-style: normal;
  resize: none;
  margin: 0;
  margin-left: 0.5em;
  padding: 0;
  word-wrap: break-word;
  width: 20rem;
}

.btnCom {
  border-style: none;
  font-size: 2rem;
  color: rgb(148, 140, 140);
  padding: 30px;
  border-top: 1px solid rgb(165, 155, 155);
}

.hidden {
  display: none;
}
